# The GitHub organization to query
ORG=...

# the name of the team to manage
TEAM_NAME=everyone

# the Personal Access Token (PAT) to use to interact with GitHub
PAT=ghp_....

# a JSON object with a list of regexes to apply to
# users to determine if they should be allowed in to
# a group or if they should be excluded
USER_FILTERS='{"login": {"reject": [ "^w" ], "allow": [ "n$" ] }}'
