# The GitHub organization to query
ORG=...

# the name of the team to manage
TEAM_NAME=everyone

# the Personal Access Token (PAT) to use to interact with GitHub
PAT=ghp_....

# a JSON object with a list of regexes to apply to
# users to determine if they should be allowed in to
# a group or if they should be excluded
USER_FILTERS='{"login": {"reject": [ "^w" ], "allow": [ "n$" ] }}'

# the level for which events are logged with lower numbers meaning
# more verbosity
#
# DEBUG: 10
# INFO: 20 (default)
# WARNING: 30
# ERROR: 40
# CRITICAL: 50
LOG_LEVEL = 20

# If DRY_RUN is false, perform read/write operations; otherwise
# only perform read-only operations
DRY_RUN = True

# The URL to the API; the default is the URL to GitHub.com's API
# (note the absence of a trailing '/')
API_URL = https://api.github.com

# How many seconds to delay between API calls
DELAY = 3.0
